* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #ccffff 50%, #ffffcc 100%);
    font-family: "Raleway", sans-serif;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/* Style for the dropdown list container */
.list {
    margin: 20px 0;
}

/* Style for the dropdown select element */
.list select {
    width: 165px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
    outline: none; 
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    cursor: pointer;
}

/* Style for the dropdown select element on hover */
.list select:hover {
    border-color: #999;
}

/* Style for the dropdown select element when focused */
.list select:focus {
    border-color: #555;
}

h1{
    text-align: center;
    justify-content: center;
    margin-top: 30vh;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #17a2b8;
    padding: 11px;
    border-radius: 6px;
}

